<!DOCTYPE html>
<html lang="en">
<head >
	<meta charset="utf-8">
        <title>My Website</title>
    <style>
 	body {
		background-color: blue;
	}
</style>
</head>

<body>
	<h1> hello ADI!!</h1>
	<h2> welcome to my web page </h2>
	<h3> Here are some basic facts about me </h3>
	<ul>
	<li> My name is Mahlet Yifru and I am a sophomore in SEAS majoring in computer science.</li>
	<li> My favorite color is blue so i have used that as background of this web page. </li>
	<li> I am a huge harry potter fan so here is a picture of hogwarts </li>
	</ul>
	<img src="C:\Users\Ayue\Pictures\hogwarts.jpg" alt="hogwarts castle"  style=" width:400px; height:300px;" > 
	<P> Thank you for visiting this site !! </P>


</body>
</html>
